html {
    scroll-behavior: smooth;
}

body {
    background-color: #00081a;
    font-family: "Lexend";
    color: #ff6bff;
    margin: 0;
    padding: 0;
    cursor: default;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    margin-top: 50px;
}

.button-container {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}

.button {
    background-color: #ff6bff;
    text-decoration: none;
    border-radius: 10px;
    color: #001341;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "lexend";
    height: auto;
    width: auto;
    font-size: 30px;
    margin-right: 20px;
    transition: transform 0.1s ease-in-out;
}

.button:hover {
    transform: scale(1.17);
}

.top_text {
    text-align: center;
    text-decoration: none;
    line-height: .8em;
}

.nav {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    position: sticky;
    top: 0;
    background-color: #00081a;
    z-index: 1;
}

.nav a:link {
    color: #16e8f7;
    text-decoration: none;
}

.nav a:visited {
    color: #16e8f7;
    text-decoration: none;
}

.nav a:hover {
    color: #FFD723;
    text-shadow: 0 0 18px #FFD723;
    border-radius: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00081a;
}

li {
    float: left;
}

li a {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar {
    float: right;
    padding-top: 5px;
}

li img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.model-view-container {
    position: relative;
    overflow: hidden;
    max-height: calc(100vh - 50px);
    margin-top: -100px;
    margin-left: 10%;
    display: flex;
    align-items: center;
}

.model-viewer {
    width: 80vh;
    height: 80vh;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}


.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 30px;
    color: #16e8f7;
    margin-left: 20px;
}

.vertical-text a {
    text-decoration: none;
    color: #16e8f7
}

.vertical-text a:hover {
    color: #FFD723;
    text-shadow: 0 0 18px #FFD723;
    border-radius: 50px;
}

.intro-text {
    text-align: left;
    margin-left: 50px;
    font-size: 100px;
    position: relative;
}

.intro-text .hover-target::after {
    content: "ashton.";
    position: absolute;
    top: 120px;
    left: 0;
    font-size: 1em;
    color: #16e8f7;
}

.intro-text .hover-target:hover::after {
    color: #FFD723;
    text-shadow: 0 0 18px #FFD723;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

#heading-text {
    padding-top: 200px;
    font-size: 100px;
    padding-left: 50px;
}

.p-text {
    margin-left: 50px;
    margin-top: -50px;
    text-align: left;
    width: 1000px;
    font-size: 20px;
    color: #16e8f7;
    text-indent: 10px;
    position: relative;
    padding-bottom: 40px;
}

#logo-img-size {
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-animation: breathing 5s ease-out infinite normal;
}

#logo-img-size:hover {
    animation: rotate-btn 2s linear 3;
    animation-iteration-count: infinite;
}

#css-logo-size {
    height: 208px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-animation: breathing 5s ease-out infinite normal;
}

#css-logo-size:hover {
    animation: rotate-btn 2s linear 3;
    animation-iteration-count: infinite;
}

#js-logo-size {
    height: 225px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-animation: breathing 5s ease-out infinite normal;
}

#js-logo-size:hover {
    animation: rotate-btn 2s linear 3;
    animation-iteration-count: infinite;
}

.logo-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 400px;
}

#github-logo-resize {
    height: 40px;
    width: auto;
    display: flex;
    margin-left: -2px;
    margin-right: -2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#github-logo-resize-right-align {
    height: 40px;
    width: auto;
    display: flex;
    margin-left: -2px;
    margin-right: -2px;
    margin-top: 2px;
    margin-bottom: 2px;
    float: right;
}

#linkedin-logo-resize {
    height: 40px;
    width: auto;
    display: flex;
    margin-left: -2px;
    margin-right: -4px;
    margin-top: 2px;
    margin-bottom: px;
}

.project-btn-container {
    margin-bottom: 200px;
    position: relative;
    display: inline-block;
}

.drop-btn {
    background-color: #00081a00;
    border-radius: 10px;
    border: 3px solid #16e8f7;
    color: #FFD723;
    box-shadow: 0 0 18px #16e8f7,
                inset 0 0 18px #16e8f7;
    border-radius: 50px;
    color: #ff6bff;
    cursor: pointer;
    display: block;
    font-family: "lexend";
    font-size: 40px;
    height: auto;
    width: 800px;
    text-align: left;
    margin-left: 80px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: -100px;
}

.drop-btn-content {
    display: none;
    background-color: #00081a00;
    color: #ff6bff;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    cursor: default
}


.show {
    display: block;
}

#arrow-resize {
    height: 20px;
    width: auto;
    float: right;
    max-width: 100%;
    padding-top: 15px;
    cursor: default;
    position: relative;
    z-index: -1;
}

#html-logo-resize-in-btn {
    max-height: 48px;
    max-width: auto;
    display: flex;
    padding-top: 2px;
}

#css-logo-resize-in-btn {
    height: 50px;
    max-height: 50px;
    width: auto;
    display: flex;
}

#js-logo-resize-in-btn {
    max-height: 60px;
    max-width: auto;
    display: flex;
}

.logo-container-in-btn {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    cursor: default;
}

.logo-container-in-btn img {
    height: 60px;
    max-height: 60px;
    width: auto;
    display: flex;
    margin-left: 10px;
}

#github-logo-resize-in-btn {
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    float: right;

}

#margin-left  {
    margin-left: 449px;
}

#margin-left-2 {
    margin-left: 620px;
}

#github-logo-resize-in-btn:hover {
    transform: scale(1.17);
    transition: transform 0.1s ease-in-out;
}

#link-img-resize-in-btn {
    height: 40px;
    max-height: 40px;
    width: auto;
    align-items: center;
    justify-content: flex-end;
}

#link-img-resize-in-btn:hover {
    transform: scale(1.17);
    transition: transform 0.1s ease-in-out;
}


@-webkit-keyframes breathing {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    25% {
      -webkit-transform: scale(1.17);
      transform: scale(1.17);
    }
  
    50% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    75% {
        -webkit-transform: scale(1.17);
        transform: scale(1.17);
    }
    
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes breathing {
    0% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    25% {
      -webkit-transform: scale(1.17);
      -ms-transform: scale(1.17);
      transform: scale(1.17);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
  
    75% {
      -webkit-transform: scale(1.17);
      -ms-transform: scale(1.17);
      transform: scale(1.17);
    }
  
    100% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }

@keyframes rotate-btn {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }